<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">About</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9 order-md-12 ml-auto mr-auto align-middle">
        <p>
          Hi there. My name is Ben Jenkins, and I'm currently finishing a masters degree in Software Engineering from
          Harvard Extension School.
          I expect to complete my degree in Summer, 2018.</p>

        <p>
          While I have experience developing software for robots, I consider myself a software generalist and craftsman.
          I'm a huge proponent of increasing software quality through developer testing, TDD, BDD, CI/CD, and
          refactoring.
        </p>
      </div>

      <div class="col-md-3 order-md-1 ml-auto mr-auto text-center">
        <img class="img-fluid" src="assets/img/extension_school.jpeg">
      </div>
    </div>

    <div class="row">
      <div class="col-md-9 ml-auto mr-auto">
        <p>
          In 2013, I joined RoboKind as a developer, a company that builds humanoid robots that administer autism
          therapy. During my four year tenure with RoboKind, I worked on many fascinating features.

        </p>
        <p>
          The most valuable feature I created was RoboKind's content authoring tools. With roughly 80 hours of my free
          time, I built the first draft of our content tools. Within the first year of having the tools available, our
          content authors were able to finish an entire year-long autism curriculum. The completed curriculum led to an
          increase in children treated and sales. </p>
      </div>

      <div class="col-md-3 ml-auto mr-auto text-center">
        <img class="img-fluid" src="assets/img/robokind.jpg">
      </div>
    </div>


    <!--<h3>RoboKind</h3>-->
    <!--<div class="row">-->
    <!--<div class="col-md-4 ml-auto mr-auto text-center">-->
    <!--<img class="img-fluid" src="assets/img/robokind.jpg">-->
    <!--</div>-->
    <!--<div class="col-md-8 ml-auto mr-auto">-->
    <!--<p>-->
    <!--I spent four years working at RoboKind, developing software for humanoid robots. I was our generalist, working at all-->
    <!--levels of the system and tackling any problem thrown my way. Below are some of the features I developed for RoboKind on and off the clock.-->
    <!--</p>-->
    <!--<div class="row">-->
    <!--<div class="col-md-6">-->
    <!--<h4>On the clock</h4>-->
    <!--<ul>-->
    <!--<li>Lesson Generation Tools</li>-->
    <!--<li>Chest Screen UI and UX Improvements</li>-->
    <!--<li>Autsim Lesson Web Pages</li>-->
    <!--<li>Low Battery Warnings</li>-->
    <!--<li>Fall Detection Monitoring</li>-->
    <!--<li>Audio Controls</li>-->
    <!--</ul>-->
    <!--</div>-->

    <!--<div class="col-md-6">-->
    <!--<h4>Off the clock</h4>-->
    <!--<ul>-->
    <!--<li>Created Autism Lesson Authoring Tools</li>-->
    <!--<li><a href="https://www.youtube.com/watch?v=v8HCJmu6ZXc"><i class="fa fa-youtube-play" aria-hidden="true"></i>Added Voice Commands To Control The Robot</a></li>-->
    <!--<li><a href="https://www.youtube.com/watch?v=pCmuLchZDSI"><i class="fa fa-youtube-play" aria-hidden="true"></i>Added Startup Greetings and Shutdown Goodbye Messages</a></li>-->
    <!--<li><a href="https://www.youtube.com/watch?v=9Vo-MGdr4_k"><i class="fa fa-youtube-play" aria-hidden="true"></i>Integrated An Intern's Tic Tac Toe Onto The Robot</a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->

    <!--</div>-->

    <!--<h3>Harvard Extension School</h3>-->
    <!--<div class="row">-->
    <!--<div class="col-md-4 ml-auto mr-auto text-center">-->
    <!--<img class="img-fluid" src="assets/img/extension_school.jpeg">-->
    <!--</div>-->
    <!--<div class="col-md-8 ml-auto mr-auto">-->

    <!--<p>-->
    <!--Quisque rutrum ut diam id cursus. Suspendisse pellentesque nulla et est aliquet pellentesque. Nulla feugiat metus in est volutpat ullamcorper.-->
    <!--Aenean at metus velit. Nullam sollicitudin, leo vel feugiat ultricies, sem leo efficitur nisl, quis eleifend eros massa quis risus.-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->

  </div>
</div>
