<div class="section">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Projects</h2>
      </div>
    </div>
  </div>

  <div id="boston-scavenger-banner">
  </div>

  <div class="container text-center">
    <img id="boston-scavenger-logo" class="img-fluid" src="assets/img/Boston-Scavenger-logo.png">

    <p>
      The Boston Scavenger provides Boston locals
      with up-to-date information about excellent, food trucks nearby. It was a group project for my Agile Software
      Development
      class that we completed in 3 sprints.
    </p>

    <p>
      The sprints closely followed <a href="https://www.scrum.org/resources/scrum-guide" target="_blank">The Scrum
      Guide</a>,
      were managed on <a href="https://trello.com/b/sfmmsg8h/agile-connors" target="_blank">Trello</a>, and documented
      on
      <a href="https://github.com/agile-connors/agile-connors" target="_blank">the project's GitHub.</a>
    </p>

    <p>
      To enable quick feedback on UI changes, we set up a CI/CD pipeline. The CI/CD pipeline allows the most recent
      successful build to be available online at any time.
    </p>

    <a href="http://boston-scavenger.ben-jenkins.com/" target="_blank">
      <button id="boston-scavenger-button" type="button" class="btn btn-danger">VIEW BOSTON SCAVENGER</button>
    </a>
  </div>


  <h3>RoboKind</h3>
  <h4>Off the clock</h4>
  <ul>
    <li>Created Autism Lesson Authoring Tools</li>
    <li><a href="https://www.youtube.com/watch?v=v8HCJmu6ZXc"><i class="fa fa-youtube-play" aria-hidden="true"></i>Added Voice Commands To Control The Robot</a></li>
    <li><a href="https://www.youtube.com/watch?v=pCmuLchZDSI"><i class="fa fa-youtube-play" aria-hidden="true"></i>Added Startup Greetings and Shutdown Goodbye Messages</a></li>
    <li><a href="https://www.youtube.com/watch?v=9Vo-MGdr4_k"><i class="fa fa-youtube-play" aria-hidden="true"></i>Integrated An Intern's Tic Tac Toe Onto The Robot</a></li>
  </ul>


</div>
