<div id="contact" class="section">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Get in touch.</h2>
        <div class="col-md-6 download-area ml-auto mr-auto">
          <a href="mailto:benjenkinsv95@gmail.com" class="btn btn-warning btn-round">Send an Email</a>
        </div>
      </div>
    </div>

    <div class="row justify-content-md-center sharing-area text-center">
      <div class="text-center col-md-12 col-lg-8">
        <h3>Or reach out on social media!</h3>
      </div>
      <div class="text-center col-md-12 col-lg-8">
        <a href="https://www.linkedin.com/in/benjenkinsv95/"
           class="btn btn-linkedin-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
          <i class="fa fa-linkedin"></i> LinkedIn
        </a>
        <a href="https://twitter.com/benjenkinsv95" class="btn btn-twitter-bg twitter-sharrre btn-round"
           rel="tooltip" title="Tweet!">
          <i class="fa fa-twitter"></i> Twitter
        </a>
        <a href="https://github.com/benjenkinsv95" class="btn btn-github-bg btn-github-sharrre btn-round"
           rel="tooltip" title="Star on Github">
          <i class="fa fa-github"></i> GitHub
        </a>
      </div>
    </div>
  </div>
</div>
