<h3>RoboKind</h3>
<h4>Off the clock</h4>
<ul>
  <li>Created Autism Lesson Authoring Tools</li>
  <li><a href="https://www.youtube.com/watch?v=v8HCJmu6ZXc"><i class="fa fa-youtube-play" aria-hidden="true"></i>Added Voice Commands To Control The Robot</a></li>
  <li><a href="https://www.youtube.com/watch?v=pCmuLchZDSI"><i class="fa fa-youtube-play" aria-hidden="true"></i>Added Startup Greetings and Shutdown Goodbye Messages</a></li>
  <li><a href="https://www.youtube.com/watch?v=9Vo-MGdr4_k"><i class="fa fa-youtube-play" aria-hidden="true"></i>Integrated An Intern's Tic Tac Toe Onto The Robot</a></li>
</ul>
