<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <!--TODO: Add logo-->
                    <!--<div class="angular-logo">-->
                        <!--<img src="assets/img/angular2-logo.png" alt="">-->
                    <!--</div>-->
                    <h1 class="presentation-title">Ben Jenkins</h1>
                </div>

                <h2 class="presentation-subtitle text-center">Software Developer & Tester</h2>
            </div>
        </div>
    </div>

    <div class="main">
      <app-about></app-about>
      <!--<app-projects></app-projects>-->
      <app-contact></app-contact>
    </div>

</div>
